{
    "trailingComma": "none",
    "printWidth": 150,
    "tabWidth": 4,
    "overrides": [
        {
            "files": "*.html",
            "options": {
                "tabWidth": 2
            }
        }
    ]
}
