@tailwind base;
@tailwind components;
@tailwind utilities;

.dark {
    /* apply color here if need to change */
}

body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

h1 {
    color: #66fcf1;
    text-align: center;
}

/* Containers CSS */
.container {
    display: flex;
}

.search-container {
    background-color: #0b0c10;
    border: 2.5px solid #1f2833;
    border-radius: 5px;
    padding: 10px;
    flex-basis: 15%;
    flex-shrink: 0;
    min-width: 175px;
}

.search-inner-container {
    position: sticky;
    top: 10px;
}

.data-filters {
    margin-top: 5px;
    color: #66fcf1;
    border-color: #66fcf1;
}

.data-container {
    padding: 10px;
    border: 2.5px solid #1f2833;
    border-radius: 5px;
    background-color: #0b0c10;
    max-width: 80%;
    flex-basis: 80%;
}

.data-item {
    margin: 5px 0;
    padding: 5px;
    border-bottom: 1px solid #1f2833;
}

.data-item:last-child {
    border-bottom: none;
}

span.data-event.code-unit-started {
    color: #66fcf1;
    font-weight: bolder;
}

/* New styles for nested arrays */
.nested-array {
    margin-left: 20px;
    padding-left: 10px;
    border-left: 2px solid #1f2833;
    display: none; /* Initially hidden */
}

.nested-array .data-item {
    margin-left: 20px;
}

/* Style of displayed data */
.nested-array .data-key {
    color: #333;
}

.nested-array .data-event {
    color: #66edb2;
}

.nested-array .data-value {
    color: #5497c3;
    word-wrap: break-word;
}

.nested-array .nested-array .data-item {
    margin-left: 40px;
}

.search-popup {
    background-color: #007acc;
    padding: 5px 10px;
    border-radius: 10px;
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-popup button {
    background: none;
    cursor: pointer;
}

.search-popup div {
    margin-left: 5px;
}

/* Styles for Highlight */
span.highlight {
    background-color: #ffeb3b;
    padding: 2px 4px;
    border-radius: 3px;
    color: #000000;
    font-weight: bold;
}

/* Styles for button */
.top-level-button {
    margin-left: 10px;
    padding: 2px 5px;
    font-size: 12px;
    cursor: pointer;
    background-color: #007acc;
    color: white;
    border: none;
    border-radius: 3px;
}

.inner-level-button {
    margin-left: 10px;
    padding: 2px 5px;
    font-size: 12px;
    cursor: pointer;
    background-color: #1f2833;
    color: white;
    border: none;
    border-radius: 3px;
}

input[type="text"] {
    padding: 10px;
    box-sizing: border-box;
    background-color: #1f2833;
    color: #66fcf1;
    border-radius: 5px;
    width: 100%;
    top: 10px;
}

/* Styles for User Debug */
.user-debug .data-event,
.user-debug .data-value {
    color: #ffa500;
    font-weight: bold;
    font-style: italic;
}
